
body {
  background-color: #090000;

}

.slogan {
  margin-top: 4%;
  margin-left: 2%;
  color: blue;
}

.slogan {
   color: hsla(0, 0%, 100%, 0.7);
   font-weight: lighter;
   font-size: 1.6rem;
 }

.gif-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.png {
   background: url(../images/pl-static.png);
   height: 720px;
   width: 720px;
   position:absolute;
   z-index: 2;
 }

 .bg {
   background: #000000;
   height: 720px;
   width: 720px;
   position:absolute;
   z-index: 1;
 }


.gif {
   background: url(../images/pl-moves.gif);
   height: 720px;
   width: 720px;
   object-fit: cover;
   z-index: -1
   ;
 }

.png:hover {
  opacity:0;
}

.bg:hover {
  opacity:0;
}
